body {
  margin: 0;
}

body, body * {
  box-sizing: border-box;
}

canvas {
  display: block;
  margin-block: 1in;
  margin-inline: auto;
  width: 6.5in;
  height: 9in;
}

#control-overlay {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, .8);
  border: 1px solid rgba(220, 220, 220, 1);
  display: flex;
  flex-direction: column;
}

#control-overlay label {
  margin: 8px
}

@media print {
  #control-overlay {
    display: none;
  }
}